<section class="products">

    <div class="products_title">
        <h3 class="products_title-text"><a class="products_title-text-link" routerLink="/home">Millen</a></h3>
    </div>
    
    <nav class="products_nav">
    <ul class="products_lists">
        <li><a class="products_lists-link" routerLink="/women">Women</a></li>
        <li><a class="products_lists-link" routerLink="/men">Men</a></li>
        <li><a class="products_lists-link" routerLink="/products">Products</a></li>
        <li><a class="products_lists-link" routerLink="/about">About</a></li>
    </ul>
    </nav>
    
    <div class="products_images">
        <img src="../../../assets/images/products.avif" alt="products">
        <img src="../../../assets/images/products.avif" alt="products">
        <img src="../../../assets/images/products.avif" alt="products">
        <img src="../../../assets/images/products.avif" alt="products">
        <img src="../../../assets/images/products.avif" alt="products">   
        <img src="../../../assets/images/products.avif" alt="products">   
        <img src="../../../assets/images/products.avif" alt="products">   
        <img src="../../../assets/images/products.avif" alt="products">   
        <img src="../../../assets/images/products.avif" alt="women">   
        <img src="../../../assets/images/products.avif" alt="women">   
        <img src="../../../assets/images/products.avif" alt="women">   
        <img src="../../../assets/images/products.avif" alt="women">   
    </div>
    
    </section>