<section class="about">

    <div class="about_title">
        <h3 class="about_title-text"><a class="about_title-text-link" routerLink="/home">Millen</a></h3>
    </div>
    
<nav class="about_nav">
    <ul class="about_lists">
        <li><a class="about_lists-link" routerLink="/women">Women</a></li>
        <li><a class="about_lists-link" routerLink="/men">Men</a></li>
        <li><a class="about_lists-link" routerLink="/products">Products</a></li>
        <li><a class="about_lists-link" routerLink="/about">About</a></li>
    </ul>
</nav>

<div class="about_me">
        <div class="about_images">
            <img class="about_images-image" src="../../../assets/images/about.avif" alt="women">
        </div>

    <div class="about_info">
        <h3 class="about_info-title">About me</h3>
        <p class="about_info-text">I've always loved photography, ever since I was a little child and got my hands on my first Polaroid camera. The world somehow makes more sense when observed through a lens, and I find that by finding and looking for new perspectives, you understand certain aspects of life more thoroughly. In my photography, I always try to capture the essence of the moment, and communicate how I experience and feel. </p>

    <div class="about_contact">
        <span>Email: info@millen.com</span>
        <span>Phone: 123-456-7890</span>
</div>

    <div class="about_input">
        <label for="html">Your email*</label>
        <input type="text" name="email" class="about_input-email" placeholder="Your email address">

        <label for="html">Message*</label>
        <input type="text" name="message" class="about_input-message" placeholder="enter yout message"> 
    </div>

    <div>
        <button class="about_button" type="submit">Submit</button>
    </div>
    </div>
    </div>

</section>
