<header class="header">
    <div class="header_container">
        <p>All templates</p>

    <div class="header_devices">
        <img class="header_devices-icon" src="../../../assets/icons/monitor.png" alt="">
        <img class="header_devices-icon" src="../../../assets/icons/iphone.png" alt="">
    </div>
</div>


    <div class="header_button">
        <img class="header_button-icon" src="../../../assets/icons/done.png" alt="">
        <p>No credit card required</p>
        <button class="header_btn">START BUILDING</button>
    </div>
</header>
