<section class="home">

<div class="home_title">
    <h3 class="home_title-text"><a class="home_title-text-link" routerLink="/home">Millen</a></h3>
</div>

<nav class="home_nav">
<ul class="home_lists">
    <li><a class="home_lists-link" routerLink="/women">Women</a></li>
    <li><a class="home_lists-link" routerLink="/men">Men</a></li>
    <li><a class="home_lists-link" routerLink="/products">Products</a></li>
    <li><a class="home_lists-link" routerLink="/about">About</a></li>
</ul>
</nav>

<div class="home_images">
    <img src="../../../assets/images/women.avif" alt="women">
    <img src="../../../assets/images/women.avif" alt="women">
    <img src="../../../assets/images/women.avif" alt="women">
    <img src="../../../assets/images/women.avif" alt="women">
    <img src="../../../assets/images/women.avif" alt="women">   
    <img src="../../../assets/images/women.avif" alt="women">   
</div>

</section>