<section class="women">

    <div class="women_title">
        <h3 class="women_title-text"><a class="women_title-text-link" routerLink="/home">Millen</a></h3>
    </div>
    
    <nav class="women_nav">
    <ul class="women_lists">
        <li><a class="women_lists-link" routerLink="/women">Women</a></li>
        <li><a class="women_lists-link" routerLink="/men">Men</a></li>
        <li><a class="women_lists-link" routerLink="/products">Products</a></li>
        <li><a class="women_lists-link" routerLink="/about">About</a></li>
    </ul>
    </nav>
    
    <div class="women_images">
        <img src="../../../assets/images/woman.avif" alt="women">
        <img src="../../../assets/images/woman.avif" alt="women">
        <img src="../../../assets/images/woman.avif" alt="women">
        <img src="../../../assets/images/woman.avif" alt="women">
        <img src="../../../assets/images/woman.avif" alt="women">   
        <img src="../../../assets/images/woman.avif" alt="women">   
        <img src="../../../assets/images/woman.avif" alt="women">   
        <img src="../../../assets/images/woman.avif" alt="women">   
        <img src="../../../assets/images/woman.avif" alt="women">   
        <img src="../../../assets/images/woman.avif" alt="women">   
        <img src="../../../assets/images/woman.avif" alt="women">   
        <img src="../../../assets/images/woman.avif" alt="women">   
    </div>
    
    </section>